-- THIS FILE IS MANAGED BY ANSIBLE; CHANGES WILL BE LOST

-- vim:syntax=lua:set ts=4 sw=4:
-- Refer to manual: http://knot-resolver.readthedocs.org/en/stable/daemon.html#configuration

-- Listen on localhost
net.listen('127.0.0.1')
net.listen('0.0.0.0')
net.listen('::0')
net.listen('::1')
net.listen('127.0.0.1', 853, { kind = 'tls' })
net.listen('::1', 853, { kind = 'tls' })

-- Extra interfaces for http module
-- net.listen('127.0.0.1', 44353, { kind = 'doh' })
-- net.listen('::1', 44353, { kind = 'doh' })
-- net.listen('127.0.0.1', 8453, { kind = 'webmgmt' })
-- net.listen('::1', 8453, { kind = 'webmgmt' })

-- Drop root privileges
user('knot-resolver', 'knot-resolver')

-- For DNS-over-HTTPS and web management when using http module
-- modules.load('http')
-- http.config({
--  cert = '/etc/knot-resolver/mycert.crt',
--  key = '/etc/knot-resolver/mykey.key',
--  tls = true,
-- })

-- To disable DNSSEC validation, uncomment the following line (not recommended)
-- trust_anchors.remove('.')

-- Load useful modules
modules = {
  'hints > iterate',  -- Load /etc/hosts and allow custom root hints
  'stats',            -- Track internal statistics
  'predict',          -- Prefetch expiring/frequent records
  'view'
}
modules.load('rebinding < iterate')
modules.load('prefill')
prefill.config({
      ['.'] = {
              url = 'https://www.internic.net/domain/root.zone',
              ca_file = '/etc/pki/tls/certs/ca-bundle.crt',
              interval = 86400  -- seconds
      }
})

-- Cache size
cache.size = 100 * MB
